{{!-- Item Card Partial --}}
<div class="item-card">
	<div class="item-image">
		{{#if it_image_url}}
			<img src="{{it_image_url}}" alt="{{it_name}}" />
		{{else}}
			<div class="placeholder-image">
				<span>No Image</span>
			</div>
		{{/if}}
	</div>
	<div class="item-info">
		<h3 class="item-name">{{it_name}}</h3>
		<p class="item-availability">
			{{#if (gt available_count 0)}}
				<span class="badge badge-success">{{available_count}} Available</span>
			{{else}}
				<span class="badge badge-unavailable">Out of Stock</span>
			{{/if}}
		</p>
		<div class="item-actions">
			<a href="/items/{{it_id}}" class="btn btn-ghost btn-sm">Details</a>
			{{#if (gt available_count 0)}}
				{{#if ../isAuthenticated}}
					<form action="/cart/add" method="POST" style="display:inline;">
						<input type="hidden" name="itemId" value="{{it_id}}" />
						<input type="hidden" name="quantity" value="1" />
						<button type="submit" class="btn btn-dark btn-sm">Add to Cart</button>
					</form>
				{{else}}
					<a href="/auth/login" class="btn btn-dark btn-sm">Add to Cart</a>
				{{/if}}
			{{else}}
				<button class="btn btn-dark btn-sm" disabled>Add to Cart</button>
			{{/if}}
		</div>
	</div>
</div>
